html
	head
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
		title= subject
		body
			h1 Contact
			p
				strong Dear #{customer}:
				| Thank you for contacting us. We will get back to you as soon as possible.